@font-face {
  font-family: "shrikhand";
  src: url(/font/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(/font/Roboto/Roboto-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  max-width: 1440px;
}

@media only screen and (min-width: 1280px) {
  .rest .rest-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
  }
  .wrapper {
    gap: 50px !important;
  }
  .rest__title {
    width: 1100px !important;
  }
  .rest__card {
    width: 500px !important;
  }
  .card__icon--full {
    left: 450px !important;
  }
  .card__icon--empty {
    left: 450px !important;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
  }
  .explore {
    width: 100%;
  }
}
.loader {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 600px;
}
.loader__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  font-size: 80px;
  color: #eaeaea;
  background: linear-gradient(#ff79da, #9356dc);
  border: 6px solid;
  transform: scaleX(0.5);
  animation: spin-logo 3s 1.5s;
  opacity: 0;
}

@keyframes spin-logo {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-container {
  animation: fade 6s ease-out;
}

.card__icon--full {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  font-size: 2rem;
  position: absolute;
  bottom: 1px;
  left: 290px;
  width: 32px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__icon--empty {
  font-size: 2rem;
  background-color: white;
  position: absolute;
  bottom: 1px;
  left: 290px;
  width: 32px;
}
.card__icon--empty:hover {
  opacity: 0;
  transition-duration: 500ms;
}

.main__icon--full i {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: right;
  font-size: 32px;
  position: absolute;
  right: 15px;
  top: 40px;
}
.main__icon--empty i {
  background-color: #f6f6f6;
  float: right;
  font-size: 32px;
  font-weight: 100;
  position: absolute;
  right: 15px;
  top: 40px;
}
.main__icon--empty i:hover {
  opacity: 0;
  transition-duration: 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatex(-9999px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
.starter-section {
  animation: fadeIn 2.5s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 20px;
}

.mains-section {
  animation: fadeIn 3.5s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.dessert-section {
  animation: fadeIn 4.5s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.btn-main {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: white;
  padding: 18px 40px;
  text-decoration: none;
}
.btn-main:hover {
  cursor: pointer;
  background-image: linear-gradient(#fc94df, #a574e0);
  box-shadow: 0 0 10px linear-gradient(#fc94df, #a574e0);
  transition: background-color 5s ease;
}
.btn-main:not(:hover) {
  background-image: linear-gradient(#ff79da, #9356dc);
}
.btn-main__bold {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 700;
}

.btn {
  background-image: linear-gradient(#ff79da 0%, #9356dc 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: white;
  display: inline-block;
  font-family: "roboto";
  font-size: 16px;
  height: 50px;
  line-height: 0.4rem;
  padding: 24px;
  width: 186px;
  border: none;
}
.btn:hover {
  transition-duration: 500ms;
  background-image: linear-gradient(#ff88de, #9b63df);
}

.btn-align {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  padding-top: 12px;
}

.rest {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 30px;
}
.rest__title {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
  width: 375px;
}
.rest__card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  overflow: hidden;
  width: 340px;
}
.rest__header {
  position: relative;
}
.rest img {
  height: 180px;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.rest__new {
  background-color: #99e2d0;
  color: #0f614c;
  position: absolute;
  font-family: "roboto";
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  right: 10px;
  bottom: 125px;
}
.rest__description {
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 15px;
}
.rest a {
  text-decoration: none;
  color: black;
}
.rest__name {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -15px;
}
.rest__location {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
}

.rest-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  overflow: hidden;
  position: relative;
  height: 100%;
  right: -109%;
  border-radius: 0 15px 15px 0;
  bottom: 89px;
  width: 20%;
  transition: 0.3s ease-in-out;
}

.check {
  color: white;
}

.menu__item {
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  border-radius: 15px;
  height: 72px;
  width: 349px;
  overflow: hidden;
}
.menu__item strong {
  transition: 0.3s ease-in-out;
  font-family: "roboto";
  font-size: 15px;
}
.menu__item h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.5s linear;
}
.menu__item h4 {
  position: relative;
  bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.5s linear;
}
.menu__item:hover h4 {
  margin-right: 6rem;
  transition: 0.3s linear;
}
.menu__item:hover h3 {
  margin-right: 6rem;
  transition: 0.3s linear;
}
.menu__item:hover .line {
  transform: translate(-100px);
}
.menu__item:hover strong {
  margin-right: 4rem;
  transition: 0.3s linear;
}
.menu__item:hover .check {
  transition-duration: 0.5s ease;
  color: white;
}
.menu__price {
  position: relative;
  float: right;
  bottom: 45px;
  right: 8px;
}

@media only screen and (min-width: 1280px) {
  .line {
    width: 10%;
    right: -108%;
  }
}
.footer {
  background-color: #353535;
  color: white;
  line-height: 20px;
  padding-bottom: 20px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 35px;
  gap: 16px;
}
.footer a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
.footer__logo {
  font-family: "shrikhand";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  height: 26px;
}

@media only screen and (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    direction: rtl;
    gap: 70px;
    padding-right: 30px;
  }
}
.header {
  display: flex;
  background-color: white;
  padding: 20px 20px 20px 10px;
  justify-content: center;
}
.header__logo {
  justify-content: center;
  width: 197px;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}
.location .fa-sharp {
  color: #353535;
}
.location p {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 700;
  color: #353535;
}

.fa-sharp {
  padding-top: 17px;
  padding-right: 10px;
}

.nav {
  padding-bottom: 40px;
  margin-top: 40px;
}
.nav__card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
  display: flex;
  width: 322px;
  align-items: center;
  background-color: #f6f6f6;
  margin: 20px;
  padding-bottom: 10px;
}
.nav__title {
  padding-bottom: 10px;
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
}
.nav__number {
  place-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  justify-content: center;
  display: flex;
  position: relative;
  right: 10px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
}
.nav__description {
  display: flex;
  padding-left: 10px;
}
.nav__text {
  width: 100%;
  display: flex;
  gap: 20px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 700;
}

.header__navigation i {
  position: absolute;
  top: 38px;
  left: 25px;
  color: #353535;
}

.header__img img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 80px;
  padding-top: 20px;
  width: 100%;
}
.explore__title {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.explore__description {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 30px;
}

.menu__starters {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__desserts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoreditch {
  padding-left: 80px;
}

.menu__background {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;
}
.menu__background h1 {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  margin-left: -175px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.menu__background h2 {
  font-family: "roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 8px;
  width: 42px;
}
.menu__background h3 {
  font-family: "roboto";
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
}
.menu__background h4 {
  font-family: "roboto";
  font-weight: 300;
  font-size: 15px;
  margin-left: 20px;
  margin-top: -7px;
}
.menu__background .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1280px) {
  .menu__background {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
  }
  .menu__background h1 {
    margin-left: 20px;
  }
  .shoreditch {
    padding-right: 200px;
  }
  .header__img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 384px;
  }
  .menu__item {
    width: 570px;
  }
  .main__icon--full i {
    right: 335px;
  }
  .main__icon--empty i {
    right: 335px;
  }
}/*# sourceMappingURL=styles.css.map */