//-------------Header Main & Menu---------------//
.header {
  display: flex;
  background-color: $base-white-color;
  padding: 20px 20px 20px 10px;
  justify-content: center;

  &__logo {
    justify-content: center;
    width: 197px;
  }
}

//-------------Location---------------//
.location {
  background-color: $base-gray-color;
  display: flex;
  justify-content: center;

  .fa-sharp {
    color: $darkGray-color;
  }

  p {
    @include nav-font;
    color: $darkGray-color;
  }
}

.fa-sharp {
  padding-top: 17px;
  padding-right: 10px;
}

//-------------Navigation Card---------------//

.nav {
  padding-bottom: 40px;
  margin-top: 40px;

  &__card {
    @include nav;
    display: flex;
    width: 322px;
    align-items: center;
    background-color: $lightGray-color;
    margin: 20px;
    padding-bottom: 10px;
  }

  &__title {
    padding-bottom: 10px;
    @include big-font;
  }

  &__number {
    place-items: center;
    background-color: $primary-color;
    border-radius: 50%;
    color: $base-white-color;
    width: 24px;
    height: 24px;
    justify-content: center;
    display: flex;
    position: relative;
    right: 10px;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 500;
  }

  &__description {
    display: flex;
    padding-left: 10px;
  }

  &__text {
    width: 100%;
    display: flex;
    gap: 20px;
    @include nav-font;
  }
}

//-------------menu header---------------//

.header__navigation {
  i {
    position: absolute;
    top: 30px;
    left: 10px;
    color: #353535;
  }
}

.header__img {
  img {
    width: 100%;
    height: 275px;
    z-index: -1;
  }
}
