//-------------Loader---------------//

.loader {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 600px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    font-size: 80px;
    color: $base-gray-color;
    background: linear-gradient(#ff79da, #9356dc);
    border: 6px solid;
    transform: scaleX(0.5);
    animation: spin-logo 3s 1.5s;
    opacity: 0;
  }
}

@keyframes spin-logo {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}

.main-container {
  animation: web-page 5.5s $page-delay both;
}

@keyframes web-page {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}

.card__icon {
  &--full {
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    font-size: 2rem;
    position: absolute;
    bottom: 1px;
    left: 290px;
    width: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &--empty {
    font-size: 2rem;
    background-color: white;
    position: absolute;
    bottom: 1px;
    left: 290px;
    width: 2rem;
    &:hover {
      opacity: 0;
      transition-duration: 500ms;
    }
  }
}
