//--------------------Btn Main Page-----------------//

.btn-main {
  background-image: linear-gradient($secondary-color, $primary-color);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px #00000040;
  color: $base-white-color;
  padding: 18px 40px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      $lightSecondary-color,
      $lightPrimary-color
    );
    box-shadow: 0 0 10px
      linear-gradient($lightSecondary-color, $lightPrimary-color);
    transition: background-color 5s ease;
  }
  &:not(:hover) {
    background-image: linear-gradient($secondary-color, $primary-color);
  }

  &__bold {
    @include nav-font;
  }
}

.btn {
  background-image: linear-gradient($secondary-color 0%, $primary-color 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px #00000040;
  color: white;
  display: inline-block;
  font-family: $primary-font;
  font-size: 16px;
  height: 50px;
  line-height: 0.4rem;
  padding: 24px;
  width: 186px;
  border: none;
  &:hover {
    transition-duration: 500ms;
    background-image: linear-gradient(
      lighten($secondary-color, 3),
      lighten($primary-color, 3)
    );
  }
}

.btn-align {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  padding-top: 12px;
}
