//-------------Main - Restaurants Cards---------------//

.rest {
  background-color: $lightGray-color;
  @include sections;
  padding-bottom: 80px;
  padding-top: 30px;

  &__title {
    @include big-font;
    width: 375px;
  }

  &__card {
    @include rest-cards;
    background-color: $base-white-color;
    overflow: hidden;
    width: 340px;
  }

  &__header {
    position: relative;
  }

  img {
    height: 180px;
    width: 100%;
    position: relative;
    object-fit: cover;
  }

  &__new {
    background-color: $tertiary-color;
    color: $darkTertiary-color;
    position: absolute;
    font-family: $primary-font;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    right: 10px;
    bottom: 125px;
  }

  &__description {
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 15px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  &__name {
    @include card-font;
    margin-bottom: -15px;
  }

  &__location {
    @include card-small;
  }
}

.rest-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//-------------Menu-cards---------------//
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary-color;
  overflow: hidden;
  position: relative;
  height: 73px;
  bottom: 84px;
  left: 109%;
  border-radius: 0 15px 15px 0;
  width: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.check {
  color: $base-white-color;
}

.menu {
  &__item {
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;
    background-color: white;
    border-radius: 15px;
    height: 72px;
    width: 349px;
    strong {
      transition: 0.3s linear;
      font-family: $primary-font;
      font-size: 15px;
    }
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: 0.5s linear;
    }
    h4 {
      position: relative;
      bottom: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: 0.5s linear;
    }
    &:hover h4 {
      margin-right: 6rem;
      transition: 0.3s linear;
    }
    &:hover h3 {
      margin-right: 6rem;
      transition: 0.3s linear;
    }
    &:hover .line {
      transform: translate(-100px);
      width: 20%;
      opacity: 1;
    }
    &:hover strong {
      margin-right: 4rem;
      transition: 0.3s linear;
    }
    &:hover .check {
      transition-duration: 0.5s ease;
      color: $base-white-color;
    }
  }
  &__price {
    position: relative;
    float: right;
    bottom: 45px;
    right: 8px;
  }
}
