.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore {
  text-align: center;
  background-color: $lightGray-color;
  width: 100%;

  &__title {
    @include big-font;
  }

  &__description {
    @include small-font;
  }
}
