.menu__starters {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__desserts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoreditch {
  padding-left: 80px;
}
.menu__background {
  background-color: $lightGray-color;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;

  h1 {
    @include menu-header;
    margin-left: -175px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  h2 {
    @include menu-sub;
    border-bottom: 3px solid $tertiary-color;
    padding-bottom: 8px;
    width: 42px;
  }

  h3 {
    @include menu-item;
    margin-left: 20px;
  }

  h4 {
    @include menu-description;
    margin-left: 20px;
    margin-top: -7px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 500px){
  .main__icon {
    &--full i {
      right: 80px;
    }
    &--empty i {
      right: 80px;
    }
  }

}

@media only screen and (min-width: 1280px) {
  .menu {
    &__background {
      margin-left: auto;
      margin-right: auto;
      width: 970px;
    }
  }
  .menu__background h1 {
    margin-left: 20px;
  }
  .shoreditch {
    padding-right: 200px;
  }
  .header__img img {
    object-fit: cover;
    height: 384px;
  }

  .menu__item {
    width: 570px;
  }

  .main__icon {
    &--full i {
      right: 335px;
    }
    &--empty i {
      right: 335px;
    }
  }
}


