// Mixins

@mixin nav {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #00000026;
  cursor: pointer;
}

@mixin rest-cards {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #0000001a;
}

@mixin sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin big-font {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 700;
}

@mixin nav-font {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 700;
}

@mixin card-font {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 700;
}

@mixin card-small {
  font-family: $primary-font;
  font-size: 17px;
  font-weight: 300;
}

@mixin small-font {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 300;
}

@mixin footer-logo {
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  height: 26px;
}

@mixin footer-txt {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 500;
}
