// Mixins

@mixin nav {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
}

@mixin rest-card {
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001A;
}

@mixin sections {
    display: flex;
    flex-direction: column;
}