// Colors

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$lightPrimary-color: #e9d8ff;
$lightSecondary-color: #f5eeff;
$darkTertiary-color: #0f614c;
$base-white-color: white;
$base-black-color: black;
$base-gray-color: #eaeaea;
$lightGray-color: #f6f6f6;
$darkGray-color: #353535;
$background-loader-color: #f2f2f2;

// Fonts
@font-face {
  font-family: "shrikhand";
  src: url(/font/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(/font/Roboto/Roboto-Regular.ttf);
}

$primary-font: "roboto";
$secondary-font: "shrikhand";
$big-font: 24px;
$small-font: 18px;

$prog-flick-dur: 1000ms;
$prog-flick-delay: 150ms;
$page-delay: $prog-flick-dur + $prog-flick-delay;
