 
 // Colors

  $primary-color: #9356DC;
  $secondary-color: #FF79DA;
  $tertiary-color: #99E2D0;
  $lightPrimary-color: #e9d8ff;
  $lightSecondary-color: #f5eeff;
  $darkTertiary-color:#0f614c;
  $base-white-color: white;
  $base-black-color: black;
  $base-gray-color: rgb(170, 170, 170);
  $lightGray-color:rgb(227, 226, 226);
  $lightSecondGray-color:rgb(240, 240, 240);
  $darkGray-color: rgb(66, 66, 66);
  $background-loader-color: #f2f2f2;



  $width: (
    "base-width": 100%,
    "header-width": 3.5rem,
    "index-width": 3rem,
  );
 
  
  $height: (
    "base-height": 100%,
    "header-height": 3rem,
    "index-height": 3rem,
  );